In [791]:
import pandas as pd
import re

import numpy as np

In [792]:
df = pd.read_excel('/content/data.xlsx')

In [793]:
df = df.drop(columns=['طابع زمني'])

In [794]:
df.shape

(1331, 8)

In [795]:
df.head()

,Title,Years of Experiences,Salary,Date of Salary,What Is your Company,Work Type,Work Hour,City of Company site
0,Dotnet Developer,2,8000,2024-02-01 00:00:00,Egyption,Hybird,Full Time,Cairo
1,Android deve,NaN,6000,2024-02-06 00:00:00,Egyption,Hybird,Full Time,Assiut
2,Android Developer,1,10000,2024-02-20 00:00:00,Egyption,Hybird,Full Time,Cairo
3,DevOps Engineer,1 month,10000,2024-02-19 00:00:00,Egyption,On Site,Full Time,Assiut
4,Java,1,20000,2024-02-19 00:00:00,Egyption,On Site,Full Time,Cairo

In [796]:
df.isnull().sum()

Title                      0
Years of Experiences       1
Salary                     0
Date of Salary             0
What Is your Company       0
Work Type                  0
Work Hour                  0
City of Company site     139
dtype: int64

# Jop Title Column



* There are many job titles, so I map them to standardized categories based on predefined patterns ✅

In [797]:

def job_title(title):
    title = str(title).strip().lower()
    job_map = {
        r'\bsoftware engineer\b': 'Software Engineer',
        r'\bsoftware developer\b': 'Software Engineer',
        r'\bsoftware development\b': 'Software Engineer',

        r'\bdata analyst\b': 'Data Analyst',
        r'\bdata analysis\b': 'Data Analyst',
         r'\bdata analytics\b': 'Data Analyst',

        r'\bfrontend\b': 'Frontend Developer',
        r'\bfront end\b': 'Frontend Developer',
        r'\bfront\-end\b': 'Frontend Developer',
        r'\bfront end developer\b': 'Frontend Developer',

        r'\bback end\b': 'Backend Developer',
        r'\bbackend\b': 'Backend Developer',
        r'\bback\-end\b': 'Backend Developer',

        r'\bfull stack\b': 'Full Stack Developer',
        r'\bfullstack\b': 'Full Stack Developer',
        r'\bfull\-stack\b': 'Full Stack Developer',

        r'\.net\b': '.Net Developer',
        r'\bdotnet\b': '.Net Developer',
        r'\bdot net\b': '.Net Developer',

        r'\bdata engineer\b': 'Data Engineer',

        r'\bandroid\b': 'Android Developer',

        r'\bmobile\b': 'Mobile Developer',

        r'\bflutter\b': 'Flutter Developer',

        r'\bdevops\b': 'DevOps Engineer',

        r'\bgraphic\b': 'Graphic Designer',

        r'\bphp\b': 'PHP Developer',

        r'\bjava\b': 'Java Developer',

        r'\bdata scientist\b': 'Data Scientist',
        r'\bdata science\b': 'Data Scientist',

        r'\bmachine learning\b': 'Machine Learning Engineer',
        r'\bml engineer\b': 'Machine Learning Engineer',

        r'\bai\b': 'AI Engineer',

        r'\bios\b': 'IOS Developer',

        r'\binstructor\b': 'Instructor',

        r'\breact\b': 'React Developer',

        r'\bbi\b': 'Business Intelligence Engineer',
        r'\bbusiness intelligence\b': 'Business Intelligence Engineer',
        r'\bbusiness analyst\b': 'Business Intelligence Engineer',

        r'\bsoftware tester\b': 'Software Tester',
        r'\btester\b': 'Software Tester',
        r'\btesting\b': 'Software Tester',

        r'\boracle\b': 'Oracle Developer',

        r'\bpython\b': 'Python Developer',

        r'\bangular\b': 'Angular Developer',

        r'\bdjango\b': 'Django Developer',

        r'\bnlp\b': 'NLP Engineer',

        r'\bnetwork\b': 'Network Engineer',

        r'\bdatabase\b': 'Database Engineer',

        r'\bit\b': 'IT Engineer',

        r'\bnodejs\b': 'Nodejs Developer',
        r'\bnode\b': 'Nodejs Developer',

        r'\bcyber\b': 'Cyber Security Engineer',
        r'\bcyber security\b': 'Cyber Security Engineer',
        r'\bcybersecurity\b': 'Cyber Security Engineer',

        r'\bodoo\b': 'Odoo Developer',

        r'\bui/ux\b': 'UI/UX Designer',
        r'\bux\b': 'UI/UX Designer',
        r'\bui\b': 'UI/UX Designer',

        r'\bembedded\b': 'Embedded Software Engineer',

        r'\bcomputer vision\b': 'Computer Vision Engineer',

        r'\bmern\b': 'Mern Developer',

        r'\bsystem\b': 'System Engineer',

        r'\bproduction\b': 'Production Engineer',

        r'\bc\+\+\b': 'C++ Developer',
        r'\\bc\\+\\+\\b': 'C++ Developer',


        r'\bintegration\b': 'Integration Engineer',

        r'\bquality \b': 'Quality Assurance Engineer',


    }

    for key, value in job_map.items():
        if re.search(key, title):
            #print(f"title {title}")
            #print(f" *** value *** : {value}")
            return value


    #print(f" *** Other title *** : {title}")
    return 'Other'

In [798]:
#call the function
df['Title'] = df['Title'].apply(job_title)

In [799]:
value_counts = df['Title'].value_counts()
for title, count in value_counts.items():
    print(f"{title}: {count}")

Other: 483
Frontend Developer: 84
Software Engineer: 79
Full Stack Developer: 78
.Net Developer: 60
Backend Developer: 47
Data Analyst: 45
Flutter Developer: 37
PHP Developer: 35
Android Developer: 31
Java Developer: 27
Business Intelligence Engineer: 27
Data Engineer: 26
Graphic Designer: 22
DevOps Engineer: 22
Data Scientist: 19
Software Tester: 17
Quality Assurance Engineer: 16
React Developer: 14
Machine Learning Engineer: 14
IT Engineer: 13
IOS Developer: 12
UI/UX Designer: 12
Oracle Developer: 11
AI Engineer: 10
Instructor: 9
Network Engineer: 8
System Engineer: 8
Odoo Developer: 7
Cyber Security Engineer: 6
Integration Engineer: 6
Nodejs Developer: 6
Embedded Software Engineer: 6
Mern Developer: 5
Angular Developer: 5
Python Developer: 5
Production Engineer: 5
Django Developer: 3
Database Engineer: 3
Computer Vision Engineer: 3
NLP Engineer: 3
Mobile Developer: 2



*   Drop all the non-tech jobs from the dataframe ✅

In [800]:
df = df[df['Title'] != 'Other']

# Years of Experiences



*  Map and calculate years of experience ✅

---

In [801]:
def clean_experience(exp):
    exp = str(exp).lower().strip()

    #  numeric conversion
    try:
        return float(exp)
    except ValueError:
        pass

    #  years
    match = re.search(r'(\d+)\s*year', exp)
    if match:
        return float(match.group(1))

    match = re.search(r'(\d+)\s*years', exp)
    if match:
        return float(match.group(1))

    # months
    match = re.search(r'(\d+)\s*month', exp)
    if match:
        months = float(match.group(1))
        if months < 6:
            return 0
        else:
            return 1

    match = re.search(r'(\d+)\s*months', exp)
    if match:
        months = float(match.group(1))
        if months < 6:
            return 0.5
        else:
            return 1

    #  Less than a year
    match = re.search(r'less than (\d+)', exp)
    if match:
        return float(match.group(1)) - 0.5

    if 'less than a year' in exp:
        return 0.5

    if 'fresh' in exp or 'na' in exp or 'no years' in exp:
        return 0.0

    #  Handling "+"
    match = re.search(r'(\d+)\s*\+', exp)
    if match:
        return float(match.group(1))

    #  Handling ranges
    match = re.search(r'(\d+)\s*-\s*(\d+)', exp)
    if match:
        return (float(match.group(1)) + float(match.group(2))) / 2

    # Case 7: Handling '~'
    match = re.search(r'~(\d+)', exp)
    if match:
        return float(match.group(1))

    #  Handle "one year"
    if exp == 'one year':
        return 1.0

   # print(f"No match found for experience value: {exp}")
    return None

df['Years of Experiences '] = df['Years of Experiences '].apply(clean_experience)

In [802]:
df.isnull().sum()

Title                     0
Years of Experiences     15
Salary                    0
Date of Salary            0
What Is your Company      0
Work Type                 0
Work Hour                 0
City of Company site     95
dtype: int64

In [803]:
df = df.dropna(subset=['Years of Experiences '])

# City of Company site

*  Map and calculate company site ✅

In [804]:
df = df.dropna(subset=['City of Company site'])

In [805]:

def city(city):
    city = str(city).strip().lower()
    city_map = {

      r'\bcairo\b': 'Cairo',

      r'\bgiza\b': 'Giza',

      r'\balexandria\b': 'Alexandria',
      r'\balexanderia\b': 'Alexandria',
      r'\balex\b': 'Alexandria',

      r'\busa\b': 'USA',
      r'\bus\b': 'USA',

      r'\bksa\b': 'KSA',
      r'\bsaudi\b': 'KSA',
      r'\briyadh\b': 'KSA',

      r'\bkuwait\b': 'Kuwait',

      r'\bdubai\b': 'Dubai',

      r'\bbenha\b': 'Banha',
      r'\bbanha\b': 'Banha',


      r'\bmansoura\b': 'Mansoura',
      r'\bmansora\b': 'Mansoura',




      r'\bsmart\b': 'Smart Village',

      r'\boctober\b': '6 October',

      r'\bassiut\b': 'Assiut',
      r'\bmaadi\b': 'Maadi',
      r'\bsadat\b': 'Sadat City',
      r'\bnasr\b': 'Nasr City',
      r'\baswan\b': 'Aswan',




    }

    for key, value in city_map.items():
        if re.search(key, city):

            return value


    #print(f" *** Other title *** : {title}")
    return 'Other'

In [806]:
df['City of Company site'] = df['City of Company site'].apply(city)

In [807]:
value_counts = df['City of Company site'].value_counts()
for site, count in value_counts.items():
    print(f"{site}: {count}")

Cairo: 460
Other: 73
KSA: 37
Giza: 36
Alexandria: 34
Mansoura: 26
Dubai: 25
USA: 10
6 October: 8
Smart Village: 8
Kuwait: 6
Maadi: 5
Banha: 3
Assiut: 2
Aswan: 2
Sadat City: 2
Nasr City: 2

# Salary

*  Map and calculate salary ✅

In [808]:
def salary_fun(exp):
    exp = str(exp).lower().strip()

    #  numeric conversion
    try:
        result = float(exp)
        #print(f"Direct numeric conversion matched: {result}")
        return result
    except ValueError:
        pass

    #  Match 'le'
    match = re.search(r'(\d+)\s*le', exp)
    if match:
        result = float(match.group(1))
        #print(f"Matched 'le': {result}")
        return result

    #  Match 'l.e'
    match = re.search(r'(\d+)\s*l\.e', exp)
    if match:
        result = float(match.group(1))
        #print(f"Matched 'l.e': {result}")
        return result

    #  Match 'usd' and make it egp
    match = re.search(r'(\d+)\s*usd', exp)
    if match:
        result = float(match.group(1)) * 45
        #print(f"Matched 'usd': {result}")
        return result

    #  Match '$' and make it egp
    match = re.search(r'\$(\d+)', exp)
    if match:
        result = float(match.group(1)) * 45
        #print(f"Matched '$': {result}")
        return result

    #  Match 'dollar' and make it egp
    match = re.search(r'(\d+)\s*dollar', exp)
    if match:
        result = float(match.group(1)) * 45
        #print(f"Matched 'dollar': {result}")
        return result

    #  Match '$' and make it egp
    match = re.search(r'(\d+)\s?\$', exp)
    if match:
        result = float(match.group(1)) * 45
       # print(f"Matched optional space before '$': {result}")
        return result

    # Match 'k' and multiply by 1000
    match = re.search(r'(\d+)\s*k', exp)
    if match:
        result = float(match.group(1))*1000
        #print(f"Matched 'k': {result}")
        return result

    #  Match 'gross'
    match = re.search(r'(\d+)\s*gross', exp)
    if match:
        result = float(match.group(1))
        #print(f"Matched 'gross': {result}")
        return result

    #  Match 'net'
    match = re.search(r'(\d+)\s*net', exp)
    if match:
        result = float(match.group(1))
        #print(f"Matched 'net': {result}")
        return result

    #  Match 'pkr' and make it egp
    match = re.search(r'(\d+)\s*pkr', exp)
    if match:
        result = float(match.group(1)) * 0.15
        #print(f"Matched 'pkr': {result}")
        return result

    #  Match 'aed'and make it egp
    match = re.search(r'(\d+)\s*aed', exp)
    if match:
        result = float(match.group(1)) * 13
        #print(f"Matched 'aed': {result}")
        return result

    #  Match 'sar' and make it egp
    match = re.search(r'(\d+)\s*sar', exp)
    if match:
        result = float(match.group(1)) *13
        #print(f"Matched 'sar': {result}")
        return result

    #  Match 'euro' and make it egp
    match = re.search(r'(\d+)\s*euro', exp)
    if match:
        result = float(match.group(1)) *52
        #print(f"Matched 'euro': {result}")
        return result

    #  Match 'plus flex'
    match = re.search(r'(\d+)\s*\+\s*(\d+)\s*flex', exp)
    if match:
        result = float(match.group(1)) + float(match.group(2))
        #print(f"Matched 'plus flex': {result}")
        return result

    # Match '-'
    match = re.search(r'(\d+)\s*\-\s*(\d+)', exp)
    if match:
        result = float(match.group(1))
        #print(f"Matched 'minus': {result}")
        return result

    # : Match 'egp'
    match = re.search(r'(\d+)\s*egp', exp)
    if match:
        result = float(match.group(1))
        #print(f"Matched 'egp': {result}")
        return result

    #print(f"No match found for salary value: {exp}")
    return None


df['Salary'] = df['Salary'].apply(salary_fun)

In [809]:
df.isnull().sum()

Title                     0
Years of Experiences      0
Salary                   13
Date of Salary            0
What Is your Company      0
Work Type                 0
Work Hour                 0
City of Company site      0
dtype: int64

In [810]:
df = df.dropna(subset=['Salary'])

# Company Site

*  Map Compant site ✅

In [811]:
df['What Is your Company'].value_counts()

What Is your Company
Egyption                                           458
Not Egyption but site in egypt                     184
Not Egyption and site out of egypt                  68
Egyption with American customer                      1
Outsourcing to europian company                      1
An Egyptian company acquired by a Saudi company      1
Egyption but site out of Egypt                       1
Dubai                                                1
Not Egyptian                                         1
Egyptian-Saudi                                       1
Not Egyptian Not located yet                         1
International in Egypt ( Huawei  GNOC)               1
iuy                                                  1
Dubai                                                1
Egyptian, but clients out of Egypt                   1
Multinationals                                       1
Multinational company                                1
Pakistan                                             1
Egyption and site out of egypt                       1
Name: count, dtype: int64

In [812]:
company_sites = [
    'Egyption', 'Not Egyption but site in egypt', 'Not Egyption and site out of egypt'
]

In [813]:
def site_fun(site):
    if site in company_sites:
        return site
    else:
        return 'Other'

df['What Is your Company']=df['What Is your Company'].apply(site_fun)

In [814]:
df['What Is your Company'].value_counts()

What Is your Company
Egyption                              458
Not Egyption but site in egypt        184
Not Egyption and site out of egypt     68
Other                                  16
Name: count, dtype: int64

# Work Type

*  Map Work Type ✅

In [815]:
df['Work Type'].value_counts()

Work Type
Hybird                                                281
On Site                                               240
Remotley                                              199
used to be onsite but now im remotley                   1
Flexible hours ( from home & the office as I like)      1
Remotely but sometimes goes to the office               1
hjgu                                                    1
Outsource                                               1
All                                                     1
Name: count, dtype: int64

In [816]:
work_type = ['Hybird','On Site','Remotley']

In [817]:
def work_type_fun (work):
  if work in work_type:
    return work
  else :
      return 'Other'

In [818]:
df['Work Type'] = df['Work Type'].apply(work_type_fun)

In [819]:
df['Work Type'].value_counts()

Work Type
Hybird      281
On Site     240
Remotley    199
Other         6
Name: count, dtype: int64

# Work Hours

*  Map Work Hours ✅

In [820]:
df['Work Hour'].value_counts()

Work Hour
Full Time                                                                                                                                                                        692
Part Time                                                                                                                                                                         29
Freelancing                                                                                                                                                                        1
Full-Time / Initial 3 Months                                                                                                                                                       1
Along with uni (almost full-time)                                                                                                                                                  1
contract without an ending date and the owner is saudian and also I don't know a lot about the company so you can search about it if you want to : https://findingfromegy.net      1
Flexible                                                                                                                                                                           1
Name: count, dtype: int64

In [821]:
work_hour_list=['Full Time','Part Time']

In [822]:
def work_hour(hour):
  if hour in work_hour_list:
    return hour
  else :
    return "Other"

In [823]:
df['Work Hour']=df['Work Hour'].apply(work_hour)

In [824]:
df['Work Hour'].value_counts()

Work Hour
Full Time    692
Part Time     29
Other          5
Name: count, dtype: int64

In [825]:
df.head()

,Title,Years of Experiences,Salary,Date of Salary,What Is your Company,Work Type,Work Hour,City of Company site
0,.Net Developer,2.0,8000.0,2024-02-01 00:00:00,Egyption,Hybird,Full Time,Cairo
2,Android Developer,1.0,10000.0,2024-02-20 00:00:00,Egyption,Hybird,Full Time,Cairo
3,DevOps Engineer,0.0,10000.0,2024-02-19 00:00:00,Egyption,On Site,Full Time,Assiut
4,Java Developer,1.0,20000.0,2024-02-19 00:00:00,Egyption,On Site,Full Time,Cairo
5,Computer Vision Engineer,1.0,15000.0,2023-07-16 00:00:00,Egyption,Remotley,Full Time,Cairo



*  Finally, I am saving my data frame that contains only tech jobs. 💯

In [826]:
df.to_csv('Tech_Egyptian_Salary.csv', index=False)